---
import "../styles/global.css";

import Header from "../components/header.astro";
import Footer from "../components/footer.astro";

import Projects from "../sections/projects.astro";
import Contributions from "../sections/contibutions.astro";
import Languages from "../sections/languages.astro";
import Education from "../sections/education.astro";
import Internships from "../sections/internships.astro";
import TechSkills from "../sections/tech-skills.astro";
---

<style>
  ul {
    list-style: none;
    padding-left: 0;
  }
</style>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Xaver Wenhart - CV</title>
    <meta
      name="description"
      content="High School Student & Computer Science Enthusiast"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
    <main>
      <Header active="cv" />
      <p>
        Location: Germany<br />Birthyear: 2008<br />Mail: contact(at)xavwe.dev
      </p>
      <Education/>
      <Internships/>
      <Projects />
      <Contributions />
      <TechSkills/>
             <Languages />
        <Footer />
      </p>
    </main>
  </body>
</html>