---
import "../styles/global.css";

import Footer from "../components/Footer.astro";
import Project from "../components/Project.astro";
---

<style>
  ul {
    list-style: none;
    padding-left: 0;
  }
</style>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Xaver Wenhart</title>
    <meta name="description" content="High School Student &amp; Computer Science Enthusiast" />
  </head>
  <body>
    <main>
      <h1>Xaver Wenhart</h1>
      <p>High School Student &amp; Computer Science Enthusiast</p>
      <h2>My Projects</h2>
      <ul>
        <Project
          title="containerization"
          tag={["poc", "linux", "cpp"]}
          link="https://github.com/xavwe/containerization"
        />
        <Project
          title="nerdfont icon picker"
          tag={["obsidian-plugin", "typescript"]}
          link="https://github.com/xavwe/obsidian-nerdfont-icon-picker"
        />
        <Project
          title="nixos config"
          tag={["nixos", "home-manager", "dotfiles", "nix"]}
          link="https://github.com/xavwe/dotfiles-nixos"
        />
        <Project
          title="dev templates"
          tag={["niox", "direnv", "nix-flake"]}
          link="https://github.com/xavwe/dev-templates"
        />
        <Project
          title="website"
          tag={["astro", "html", "css"]}
          link="https://github.com/xavwe/www-xavwe-dev"
        />
      </ul>
      <h2>OS Contributions</h2>
      <ul>
        <Project
          title="nixos/nixpkgs"
          tag={["nixos", "nix"]}
          link="https://github.com/nixos/nixpkgs"
        />
        <Project
          title="rolv-apneseth/rofi-nerdy"
          tag={["rofi", "nerdfont", "rust"]}
          link="https://github.com/rolv-apneseth/rofi-nerdy"
        />
      </ul>
    </main>
    <Footer />
  </body>
</html>