---
import Tag from "./tag.astro";

export interface Props {
  tag: Array<string>;
}
const { tag } = Astro.props;
---

<style>
  .tag-container {
    display: flex;
    gap: 10px 10px;
    row-gap: 5px;
    flex-wrap: wrap;
    padding: 8px 0;
  }

  @media (max-width: 768px) {
    .tag-container {
      width: 100%;
    }
  }
</style>

<div class="tag-container">
  {tag.map((tag) => <Tag>{tag}</Tag>)}
</div>