---
import Project from "../components/project.astro";
import Li from "../components/li.astro";
---

<style>
  ul {
    list-style: none;
    padding-left: 0;
  }
</style>
<h2>Education</h2>
<ul>
  <Li title="High School" date="2018 - today">
    Science and Technology <br /> English | Latin | Computer Science | Talented Students
    Programme
  </Li>
</ul>
