---
import Project from "../components/project.astro";
import Li from "../components/li.astro";
---

<style>
  ul {
    list-style: none;
    padding-left: 0;
  }
</style>
<h2>Internships</h2>
      <ul>
        <Li title="Dawonia Real Estate GmbH & Co. KG" date="March 2024">
          IT Specialist
        </Li>
        <Li title="Rohde & Schwarz GmbH & Co. KG" date="March 2023">
          IT Specialist
        </Li>
      </ul>