---
import Project from "../components/project.astro";
import Li from "../components/li.astro";
---

<style>
  ul {
    list-style: none;
    padding-left: 0;
  }
</style>
<h2>Languages</h2>
<ul>
  <Li title="German" date="native proficiency" />
  <Li title="English" date="professional working proficiency" />
  <Li title="Latin" date="reading proficiency" />
</ul>
