---
import Project from "../components/project.astro";
import Li from "../components/li.astro";
import Tags from "../components/tags.astro";
---

<style>
  ul {
    list-style: none;
    padding-left: 0;
  }

</style>
<h2>Tech Skills</h2>
      <p>
        <Tags
          tag={[
            "nixos",
            "nix",
            "html",
            "css",
            "scss",
            "javascript",
            "typescript",
            "linux",
            "docker",
            "podman",
            "astro",
            "python",
            "bash",
            "traefik",
            "nginx",
            "grafana",
            "prometheus",
            "loki",
            "vim",
            "latex",
            "markdown",
            "git",
            "github",
            "problem-solving",
            "wordpress",
          ]}
        />